h1 {
    color: #f9FaF8;
    size: 48px;
    font-weight: bold;
}

p {
    color: #f9FaF8;
}

ul {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: auto;
}

li {
    list-style-type: none;
    font-size: 16px;
}

li a {
    color: #f9FaF8;
    text-decoration: none;
}

button {
    background-color: #3882F6;
    color: #f9FaF8;
    width: 100px;
    height: 35px;
    border-radius: 8px;
    border-color: transparent;
    margin: auto;
}

img {
    width: 300px;
    height: 200px;
    padding: 80px;
}

.header, .information {
    background-color: #1f2937;
    display: flex;
    padding: 4px 10%;
    flex-grow: 1;
    flex-shrink: 1;
}

.information {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.logo_text h1 {
    font-size: 24px;
}

.logo_text {
    display: flex;
}

.website_desc {
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
    padding: 80px;
}